<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockwallet.trade">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".ui.SwapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RockWalletAppTheme.RockWallet"/>

    </application>
</manifest>