<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockwallet.common">

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".ui.features.nointernet.NoInternetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RockWalletAppTheme.RockWallet"/>

    </application>
</manifest>